---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const base = import.meta.env.BASE_URL!;

const pathname = Astro.url.pathname
    .replace(import.meta.env.BASE_URL, "")
    .replace(/^\/+|\/+$/g, "");
const subpath = pathname.match(/[^\/]+/g);
const sanitizedHref = `${href}`.replace(base, "").replace(/^\/+|\/+$/g, "");

const isActive =
    sanitizedHref === pathname || href === "/" + (subpath?.[0] || "");
const defaultClasses: any = [
    "text-sm",
    "font-medium",
    "text-gray-700",
    "dark:text-gray-300",
    "hover:text-gray-900",
    "dark:hover:text-white",
    "transition-colors",
    "text-glow",
];
---

<a
    href={href}
    class:list={defaultClasses.concat([className, { active: isActive }])}
    {...props}
    data-debug={`${sanitizedHref} ${pathname}`}
>
    <slot />
</a>
