---
import Icon from "./Icon.astro";
---

<button
    id="theme-toggle"
    class="theme-toggle inline-flex items-center justify-center"
    aria-label="Toggle dark mode"
>
    <Icon icon="sun" class="on-dark" />
    <Icon icon="moon" class="on-light" />
</button>
